
		#ab1
		{
			color: whitesmoke;
			background-color: blue;
			width: 102px;
			/* padding box */
			padding-top: 50px;
			padding-right: 50px;
			padding-bottom: 50px;
			padding-left: 50px;

 border-top-width: 15px;
	  border-top-style:solid;
	  border-top-color: yellow;
 
      border-right-width: 15px;
	  border-right-style: solid;
	  border-right-color: yellow;

	   border-bottom-width: 15px;
	  border-bottom-style: solid;
	  border-bottom-color: yellow;

	  border-left-width: 15px;
	  border-left-style: solid;
	  border-left-color: yellow;

	  margin-top: 10px;
	  margin-right: 500px;
	  margin-bottom: 10px;
	  margin-left: 25px;
	}
	#ab2
		{
			color: whitesmoke;
			background-color: blue;
			width: 102px;
			/* padding box */
			padding-top: 50px;
			padding-right: 50px;
			padding-bottom: 50px;
			padding-left: 50px;

 border-top-width: 15px;
	  border-top-style:solid;
	  border-top-color: yellow;
 
      border-right-width: 15px;
	  border-right-style: solid;
	  border-right-color: yellow;

	   border-bottom-width: 15px;
	  border-bottom-style: solid;
	  border-bottom-color: yellow;

	  border-left-width: 15px;
	  border-left-style: solid;
	  border-left-color: yellow;

	  margin-top: 10px;
	  margin-right: 500px;
	  margin-bottom: 10px;
	  margin-left: 25px;
	}
	#ab3
		{
			color: whitesmoke;
			background-color: blue;
			width: 102px;
			/* padding box */
			padding-top: 50px;
			padding-right: 50px;
			padding-bottom: 50px;
			padding-left: 50px;

 border-top-width: 15px;
	  border-top-style:solid;
	  border-top-color: yellow;
 
      border-right-width: 15px;
	  border-right-style: solid;
	  border-right-color: yellow;

	   border-bottom-width: 15px;
	  border-bottom-style: solid;
	  border-bottom-color: yellow;

	  border-left-width: 15px;
	  border-left-style: solid;
	  border-left-color: yellow;

	  margin-top: 10px;
	  margin-right: 500px;
	  margin-bottom: 10px;
	  margin-left: 25px;
	}
	#ab4
		{
			color: whitesmoke;
			background-color: blue;
			width: 102px;
			/* padding box */
			padding-top: 50px;
			padding-right: 50px;
			padding-bottom: 50px;
			padding-left: 50px;

 border-top-width: 15px;
	  border-top-style:solid;
	  border-top-color: yellow;
 
      border-right-width: 15px;
	  border-right-style: solid;
	  border-right-color: yellow;

	   border-bottom-width: 15px;
	  border-bottom-style: solid;
	  border-bottom-color: yellow;

	  border-left-width: 15px;
	  border-left-style: solid;
	  border-left-color: yellow;

	  margin-top: 10px;
	  margin-right: 500px;
	  margin-bottom: 10px;
	  margin-left: 25px;
	}
	#ab4
		{
			color: whitesmoke;
			background-color: blue;
			width: 102px;
			/* padding box */
			padding-top: 50px;
			padding-right: 50px;
			padding-bottom: 50px;
			padding-left: 50px;

 border-top-width: 15px;
	  border-top-style:solid;
	  border-top-color: yellow;
 
      border-right-width: 15px;
	  border-right-style: solid;
	  border-right-color: yellow;

	   border-bottom-width: 15px;
	  border-bottom-style: solid;
	  border-bottom-color: yellow;

	  border-left-width: 15px;
	  border-left-style: solid;
	  border-left-color: yellow;

	  margin-top: 10px;
	  margin-right: 500px;
	  margin-bottom: 10px;
	  margin-left: 25px;
	}
	#ab5
		{
			color: whitesmoke;
			background-color: blue;
			width: 102px;
			/* padding box */
			padding-top: 50px;
			padding-right: 50px;
			padding-bottom: 50px;
			padding-left: 50px;

 border-top-width: 15px;
	  border-top-style:solid;
	  border-top-color: yellow;
 
      border-right-width: 15px;
	  border-right-style: solid;
	  border-right-color: yellow;

	   border-bottom-width: 15px;
	  border-bottom-style: solid;
	  border-bottom-color: yellow;

	  border-left-width: 15px;
	  border-left-style: solid;
	  border-left-color: yellow;

	   margin-top: -486px;
    margin-right: 500px;
    margin-bottom: 10px;
    margin-left: 275px;
	}
	#ab6
		{
			color: whitesmoke;
			background-color: blue;
			width: 102px;
			/* padding box */
			padding-top: 50px;
			padding-right: 50px;
			padding-bottom: 50px;
			padding-left: 50px;

 border-top-width: 15px;
	  border-top-style:solid;
	  border-top-color: yellow;
 
      border-right-width: 15px;
	  border-right-style: solid;
	  border-right-color: yellow;

	   border-bottom-width: 15px;
	  border-bottom-style: solid;
	  border-bottom-color: yellow;

	  border-left-width: 15px;
	  border-left-style: solid;
	  border-left-color: yellow;

	  margin-top: 10px;
    margin-right: 500px;
    margin-bottom: 10px;
    margin-left: 517px;

	}
	#ab7
		{
			color: whitesmoke;
			background-color: blue;
			width: 102px;
			/* padding box */
			padding-top: 50px;
			padding-right: 50px;
			padding-bottom: 50px;
			padding-left: 50px;

 border-top-width: 15px;
	  border-top-style:solid;
	  border-top-color: yellow;
 
      border-right-width: 15px;
	  border-right-style: solid;
	  border-right-color: yellow;

	   border-bottom-width: 15px;
	  border-bottom-style: solid;
	  border-bottom-color: yellow;

	  border-left-width: 15px;
	  border-left-style: solid;
	  border-left-color: yellow;
    margin-top: -317px;
    margin-right: 500px;
    margin-bottom: 10px;
    margin-left: 760px;

 
	}
	#ab8
		{
			color: whitesmoke;
			background-color: blue;
			width: 102px;
			/* padding box */
			padding-top: 50px;
			padding-right: 50px;
			padding-bottom: 50px;
			padding-left: 50px;

 border-top-width: 15px;
	  border-top-style:solid;
	  border-top-color: yellow;
 
      border-right-width: 15px;
	  border-right-style: solid;
	  border-right-color: yellow;

	   border-bottom-width: 15px;
	  border-bottom-style: solid;
	  border-bottom-color: yellow;

	  border-left-width: 15px;
	  border-left-style: solid;
	  border-left-color: yellow;
       
       margin-top: -320px;
    margin-right: 500px;
    margin-bottom: 10px;
    margin-left: 1002px;
	   
	}
	#ab9
		{
			color: whitesmoke;
			background-color: blue;
			width: 102px;
			/* padding box */
			padding-top: 50px;
			padding-right: 50px;
			padding-bottom: 50px;
			padding-left: 50px;

 border-top-width: 15px;
	  border-top-style:solid;
	  border-top-color: yellow;
 
      border-right-width: 15px;
	  border-right-style: solid;
	  border-right-color: yellow;

	   border-bottom-width: 15px;
	  border-bottom-style: solid;
	  border-bottom-color: yellow;

	  border-left-width: 15px;
	  border-left-style: solid;
	  border-left-color: yellow;
    

       margin-top: 10px;
    margin-right: 500px;
    margin-bottom: 10px;
    margin-left: 1004px;
	   
	}
	#ab10
		{
			color: whitesmoke;
			background-color: blue;
			width: 102px;
			/* padding box */
			padding-top: 50px;
			padding-right: 50px;
			padding-bottom: 50px;
			padding-left: 50px;

 border-top-width: 15px;
	  border-top-style:solid;
	  border-top-color: yellow;
 
      border-right-width: 15px;
	  border-right-style: solid;
	  border-right-color: yellow;

	   border-bottom-width: 15px;
	  border-bottom-style: solid;
	  border-bottom-color: yellow;

	  border-left-width: 15px;
	  border-left-style: solid;
	  border-left-color: yellow;

	   margin-top: 10px;
    margin-right: 500px;
    margin-bottom: 10px;
    margin-left: 1004px;
	}

	#ab11

	
		{
			color: whitesmoke;
			background-color: blue;
			width: 102px;
			/* padding box */
			padding-top: 50px;
			padding-right: 50px;
			padding-bottom: 50px;
			padding-left: 50px;

 border-top-width: 15px;
	  border-top-style:solid;
	  border-top-color: yellow;
 
      border-right-width: 15px;
	  border-right-style: solid;
	  border-right-color: yellow;

	   border-bottom-width: 15px;
	  border-bottom-style: solid;
	  border-bottom-color: yellow;

	  border-left-width: 15px;
	  border-left-style: solid;
	  border-left-color: yellow;

	   margin-top: 10px;
    margin-right: 500px;
    margin-bottom: 10px;
    margin-left: 1004px;
	}
