.color-top{

    width:100vw;
    height:40vh;


}

.image-top{
    
    width: 350px;
    height:150px;

}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 18%; /* Five links of equal widths */
  text-align: center;
}


.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #04AA6D;
}





   .bot-img{
                float:right;
                width:40%;
                
                margin:5px;
                height:60%;
            }

 .bot-img1{
                float:left;
                width:38%;
                
                margin:8px;
                height:45%;
            }            



.li{
    font-size: 15px;
    color:white;
    line-height: 22px;
    margin:5px;
   
   
}

 


.div-medicine_record{
    
   width: 50%;
    text-align:center;
    border-radius:15px;
    margin:5px;
    padding:6px;
}


.div-patient_registration{
   
   
   
    text-align:center;
    border-radius:15px;
    margin:5px;
    padding:6px;
}

#div-contact{
    color:white;
    background-size: cover;
    background-color:black;
   
    width:100%;
    line-height: 2;
    

}